include ../mixins/select-tree.pug

div(class="bg-[#F5F6F8]")
	div(class="container")
		div(class="text-[#333333] flex justify-between py-[10px] text-[12px]")
			div(class="uppercase font-bold") Trần Kim Quang - sinh viên công nghệ thông tin
			div(class="flex justify-between items-center gap-[20px]")
				div(class="flex justify-center items-center gap-[10px]")
					i(class=`fa-solid fa-phone text-chu`)
					div(class="font-bold") 0859.615.254
				div(class="flex justify-center items-center gap-[10px]")
					i(class=`fa-solid fa-location-dot text-chu`)
					div(class="") Phường 12, Tân Bình - Hồ Chí Minh


div(class="bg-[white] py-[30px]")
	div(class="container")
		div(class="flex items-center justify-between gap-[25px]")
			div(class="h-[50px] w-auto")
				img(
					src=`/${admin}/images/LOGO3.svg`
					alt=""
					class=`h-full w-auto`
				)
			form(method="get" class=`grow flex border-[2px] border-[black] rounded-[8px] truncate`
				form-search = `tim-kiem`
			)
				input(
					type="text"
					name=""
					placeholder = "Bạn tìm kiếm sản phẩm gì..."
					class=`w-full outline-none p-[10px] bg-transparent`
					value = key
				)
				button(
					type="submit"
					class=`px-[20px] bg-[black] text-main flex items-center justify-center flex-end fa-solid fa-magnifying-glass hover:bg-chu duration-500`
				)
			div(class="h-full")
				a(href="/order/cart-info" class="h-full relative w-auto hover:text-chu duration-500") 
					i(class=`fa-thin fa-bag-shopping text-[25px] h-full`)
					- if(cartProductsLength > 0)
						div(class="absolute top-[-17px] right-[-13px] bg-chu text-[white] rounded-[100%] w-[18px] h-[18px] text-[12px] flex items-center justify-center font-bold") #{cartProductsLength}

header(class=`z-[100] sticky top-0 duration-1000`)
	div(class=`container`)
		div(class=`gap-[10px] bg-[#EEEEEE] flex items-center justify-left h-[70px]`)
			div(class="flex items-center justify-between text-main bg-[#333333] hover:cursor-pointer gap-x-[30px] h-full px-[10px]" list-category)
				div(class="") DANH MỤC SẢN PHẨM
				i(class="fa-solid fa-angle-left duration-1000")
			div(class="absolute top-[70px] rounded-[10px] w-max h-max truncate shadow-[pink] shadow-2xl px-[10px] bg-[white]") 
				- if(categogyProduct)
					+select-tree(categogyProduct)
			div(class="flex items-center justify-start flex-1  [&>div]:hover:cursor-pointer [&>div]:px-[10px] [&>div]:text-center [&>div]:h-[70px] [&>a]:h-[70px] [&>*]:px-[20px] [&>*]:duration-700")
				a(href=`/` class=" place-content-center block relative group truncate" animation) TRANG CHỦ
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000")
				div(class="place-content-center relative group truncate" animation) SẢN PHẨM
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000")
				div(class=" place-content-center relative group truncate" animation) GIỚI THIỆU
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000" animation)
				div(class=" place-content-center xl:hidden  relative group truncate" animation) TƯ VẤN CHỌN
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000")
				div(class=" place-content-center xl:hidden relative group truncate" animation) TẠP CHÍ
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000")
				div(class=" place-content-center relative group truncate" animation) LIÊN HỆ
					div(class="bg-chu h-[2px] absolute bottom-0 left-0 w-full duration-1000")