extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/khung-table.pug
include ../../mixins/setting-box.pug
include ../../mixins/quay-lai.pug
include ../../mixins/them-moi.pug
include ../../mixins/cap-nhat.pug
include ../../mixins/dieu-huong.pug


//- block header
	+quay-lai("Quay lại danh sách nhóm quyền", `/${admin}/roles`)
	+cap-nhat("Cập nhật")(button-submit-form = "")


block main
	- if(role.permisstion.includes(`roles_edit`))
		-
			let array = [
				{
					link: `/${admin}/dashboard`,
					title: `Cấu hình`
				},
				{
					link: `/${admin}/roles`,
					title: `Nhóm quyền`
				}
			]
		+dieu-huong(roles.title, array)

		+cap-nhat("Cập nhật")(button-submit-form = "")
		
		+khung-table('Chỉnh sửa nhóm quyền')
			form(
				action=`/${admin}/roles/edit/${roles.id}?_method=PATCH`
				method="POST"
				target=''
				autocomplete = "on"
				class="py-[20px] select-auto"
			)
				div(class=`flex flex-col gap-y-[10px]`)
					div(class=`flex flex-row items-center gap-y-[10px] grid grid-cols-4`)
						label(
							for="title"
							class=`text-[14px]`
						) Nhóm quyền
						input(
							type="text", name="title" id="title"
							class=`p-[5px] rounded-[5px] border-[1px] text-[12px] bg-transparent border-text outline-none col-span-2`
							placeholder="Nhập tên nhóm quyền..."
							required
							value = roles.title
						)
					div(class=`flex flex-row items-center gap-y-[10px] grid grid-cols-4`)
						label(
							for="description"
							class=`text-[14px]`
						) Mô tả
						textarea(
							id="description" name="description" cols="1" rows="1"
							class=`p-[5px] rounded-[5px] border-[1px] text-[12px] bg-transparent border-text outline-none col-span-2`
							placeholder="Nhập mô tả nhóm quyền..."
						) #{roles.description}
				button(type="submit"
							class=`select-none hidden text-[15px] px-[10px] border-[1px] hover:border-[0px] border-[#FA6B04] bg-[#FA6B04] text-[white] rounded-[10px] py-[10px] block ml-auto`
						) Cập nhật
			
	- else
		div(no-view-permission)