extends ../../layouts/default.pug
include ../../mixins/box-actions.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/khung-table.pug

block main
	- if(role.permisstion.includes('trash_view'))
		+khung-table("Danh sách sản phẩm")
			table(class=`w-full text-center mt-[5px]`)
				thead(class=`h-[50px]`)
					tr
						th(class=`h-full`)
							input(
								type="checkbox", 
								name="checkAll"
								class=`appearance-none w-[20px] h-[20px] border-[1px] border-[black]/20 rounded-[10px] checked:bg-[#263238] hover:cursor-pointer`
							)
						th STT
						th Hình ảnh
						th Sản phẩm
						th Giá
						th Hành động
						th Xóa bởi
				tbody
					each it, i in product
						tr(class=`border-b-[1px] last:border-[0px] border-b-[black]/40 hover:bg-[black]/20`)
							td(class=``)
								input(
									type="checkbox", 
									name="checkItem"
									class=`appearance-none w-[20px] h-[20px] border-[1px] border-[black]/20 rounded-[10px] checked:bg-[#FA6B04] checked:border-[0px] hover:cursor-pointer`
									value = it.id
								)
							td #{pagination.limit * (pagination.current - 1) + i + 1}
							td(class=``)
								img(
									src=it.thumbnail, 
									alt=it.title 
									class=`h-[50px] mx-auto`
									nameImageImg = it.nameImage
								)
							td #{it.title}
							td #{it.priceNew}
							td
								button(
									type="button" class=`bg-[red]/80 text-[white] text-[12px] rounded-[10px] p-[5px] mr-[10px]`
									restore = it.id
								) Khôi khục
								button(
									type="button" 
									class=`bg-[red]/80 text-[white] text-[12px] rounded-[10px] p-[5px]`
									permanently-delete = it.id
									nameImage = it.nameImage
								) Xóa vĩnh viễn
							td
								div(class="text-[10px]") #{it.deletedBy}
								div(class="text-[10px]") #{it.updatedAtFormat}
		
		+pagination(pagination)
	- else
		div(class="my-auto text-[red] text-[50px] text-center bg-transparent") Bạn không được phân quyền để xem nội dung này!