extends ../../layouts/default.pug
include ../../mixins/select-tree.pug

block main
	div(class=`p-[10px]`)
		form(
			action=`/${admin}/product-category/edit/${product.id}?_method=PATCH`
			method="POST"
			target=''
			autocomplete = "on"
			enctype="multipart/form-data"
		)
			div(class=`flex flex-col gap-y-[10px]`)
				div(class=`flex flex-col gap-y-[10px]`)
					label(
						for="title"
						class=`font-bold text-[20px]`
					) Tên danh mục
					input(
						type="text", name="title" id="title"
						class=`p-[10px] rounded-[10px] border-[1px] border-[black]/30 flex-1`
						placeholder="Nhập tiêu đề danh mục..."
						required
						value = product.title
					)
				div(class=`flex flex-col gap-y-[10px]`)
					label(
						for="parent_id"
						class=`font-bold text-[20px]`
					) Danh mục cha
					select(id='parent_id' name='parent_id' 
					class=`p-[10px] rounded-[10px] border-[1px] border-[black]/30 flex-1`)
						//- if(product.parent_id == category.id) #{category.title}
						option(value='') -- Chọn danh mục cha---
						
						if(category)
							+select-tree(category, '', product.parent_id)
				div(class=`flex flex-col gap-y-[10px]`)
					label(
						for="description"
						class=`font-bold text-[20px]`
					) Mô tả
					textarea(
						id="description" name="description" cols="3" rows="3"
						class=`p-[10px] rounded-[10px] border-[1px] border-[black]/30 flex-1`
						placeholder="Nhập mô tả sản phẩm..."
						textarea-mce
					) !{product.description}
				div(class=`flex flex-col gap-y-[10px]` upload-image)
					label(
						for="thumbnail"
						class=`font-bold text-[20px]`
					) Ảnh
					input(
						type="file", name="thumbnail" id="thumbnail"
						class=`p-[10px] rounded-[10px] border-[1px] border-[black]/30 flex-1`
						placeholder="Nhập ảnh sản phẩm..."
						accept='image/*'
						upload-image-input
					)
					img(src=product.thumbnail, alt=product.title
						class=`w-[25%] h-auto rounded-[10px] cursor-pointer`
						)
				div(class=`flex flex-col gap-y-[20px]`)
					label(
						for="position"
						class=`font-bold text-[20px] capitalize`
					) vị trí
					input(
						type="number", name="position" id="position"
						class=`p-[10px] rounded-[10px] border-[1px] border-[black]/30 flex-1`
						placeholder="Tự động tăng..."
						value = product.position
					)
				div(class=`flex justify-center gap-[20px]`)
					div(class=`flex flex-row gap-[10px]`)
						input(
							type="radio", name='status' value="active" id="active"
							class=``
							required
							checked = (product.status == 'active' ? true : false)
						)
						label(
							for="active"
							class=`font-bold text-[20px] capitalize`
						) Hoạt động
					div(class=`flex flex-row gap-[10px]`)
						input(
							type="radio", name='status' value="inactive" id="inactive"
							required
							checked = (product.status == 'inactive' ? true : false)
						)
						label(
							for="inactive"
							class=`font-bold text-[20px] capitalize`
						) Dừng Hoạt động
			button(type="submit"
						class=`text-[15px] px-[10px] border-[1px] hover:border-[0px] border-[#FA6B04] bg-[#FA6B04] text-[white] rounded-[10px] py-[10px] block ml-auto`
					) Cập nhật danh mục