extends ../../layouts/default.pug
include ../../mixins/khung-table.pug
include ../../mixins/dieu-huong.pug
include ../../mixins/cap-nhat.pug

block main
	- if(account)
		-
			let array = [
				{
					link: `/${admin}/accounts`,
					title: `Tài khoản`
				},
				{
					link: `/${admin}/accounts/edit/${account.id}`,
					title: account.useName
				}
			]
		+dieu-huong('Đổi mật khẩu', array)

		+cap-nhat("Cập nhật")(button-submit-form = `/${admin}/accounts/change-password/${account.id}`)

		+khung-table('Đổi mật khẩu')
			form(
				action=`/${admin}/accounts/change-password/${account.id}?_method=PATCH`
				method="POST"
				target=''
				autocomplete = "off"
				class="py-[20px]"
			)
				div(class=`flex flex-col gap-y-[10px]`)
					div(class=`flex flex-row items-center gap-y-[10px] grid grid-cols-4`)
						label(
							for="old_password"
							class=`text-[14px]`
						) Mật khẩu cũ:
							span(class="text-[red]")  *
						input(
							type="password", name="old_password" id="old_password"
							class=`p-[5px] rounded-[5px] border-[1px] text-[12px] bg-transparent border-text outline-none col-span-2`
							placeholder="Nhập mật khẩu cũ..."
							required
						)
					div(class=`flex flex-row items-center gap-y-[10px] grid grid-cols-4`)
						label(
							for="new_password"
							class=`text-[14px]`
						) Mật khẩu mới:
							span(class="text-[red]")  *
						input(
							type="password", name="new_password" id="new_password"
							class=`p-[5px] rounded-[5px] border-[1px] text-[12px] bg-transparent border-text outline-none col-span-2`
							placeholder="Nhập mật khẩu mới..."
							required
						)
					div(class=`flex flex-row items-center gap-y-[10px] grid grid-cols-4`)
						label(
							for="confirm_new_password"
							class=`text-[14px]`
						) Xác nhật khẩu mới:
							span(class="text-[red]")  *
						input(
							type="password", name="confirm_new_password" id="confirm_new_password"
							class=`p-[5px] rounded-[5px] border-[1px] text-[12px] bg-transparent border-text outline-none col-span-2`
							placeholder="Xác nhận mật khẩu mới..."
							required
						)
				button(type="submit" class=" hidden flex items-center justify-end gap-[10px] block mx-auto my-[20px]")
					span(class="inline-flex gap-[10px] text-[12px] px-[10px] py-[5px] border-[0px] bg-xanh hover:bg-xanhhover text-main rounded-[5px] items-center w-max hover:cursor-pointer")
						i(class=`fa-light fa-arrows-rotate`)
						span  Cập nhật