extends ../../layouts/default.pug
include ../../mixins/dieu-huong.pug
include ../../mixins/friend-btn.pug


block main
	+dieu-huong("Nhắn tin")

	+friend-btn(infoUser)
	- if(user)
		div(class=``)
			div(class=`container`)
				div(class=`flex gap-[10px] items-center`)
					- if(user.avatar)
						div(class=`h-[70px] p-[3px] border-[1px] border-[black] rounded-[50%]`)
							img(src=user.avatar, alt=user.fullName class=`aspect-[1/1] rounded-[50%] h-full w-auto`)
					- if(user.fullName)
						div(class=``)
							div(class=`font-bold text-[20px] text-xanh`) #{user.fullName}
	- if(room)
		div(class=``)
			div(class=`container`)
				div(class=`flex gap-[10px] items-center`)
					- if(room.avatar)
						div(class=`h-[70px] p-[3px] border-[1px] border-[black] rounded-[50%]`)
							img(src=room.avatar, alt=room.title class=`aspect-[1/1] rounded-[50%] h-full w-auto`)
					- if(room.title)
						div(class=``)
							div(class=`font-bold text-[20px] text-xanh`) #{room.title}
	
	div(class="my-[10px]")
		div(class="container")
			div(class="h-auto relative rounded-[10px] p-[10px] duration-1000" element-chat = infoUser.id)
				div(class="h-[350px] gap-y-[10px] overflow-y-auto scoll-auto bg-[white]  scrollbarmain px-[10px]" appendchild)
					- if(chats && chats.length > 0)
						each it in chats
							- if(infoUser.id != it.userId)
								- if(it.content)
									div(class="h-max w-1/2 py-[5px] flex flex-col")
										div(class="font-bold text-[14px]") #{it.fullName}
										div(class="rounded-[8px] bg-[#F5F5F5] text-justify px-[10px] py-[4px] w-max max-w-full text-wrap") #{it.content}
								- if(it.images.length > 0)
									div(class="font-bold text-[14px]") #{it.fullName}
									div(class="flex gap-[10px]")
										each image in it.images
											img(src=image, alt="Kim Quang | Preview Ảnh" class=`h-[50px] aspect-square rounded-[10px] cursor-pointer`)

							- if(infoUser.id == it.userId)
								- if(it.content)
									div(class="h-max w-1/2 ml-auto py-[5px] truncate flex justify-end")
										div(class="w-max text-justify text-wrap text-[white] bg-[#F9005A] rounded-[15px] p-[10px] select-all") #{it.content}
								- if(it.images.length > 0)
									div(class="flex gap-[10px] justify-end")
										each image in it.images
											img(src=image, alt="Kim Quang | Preview Ảnh" class=`h-[50px] aspect-square rounded-[10px] cursor-pointer`)

				div(class="bg-[white] h-auto" list-typing)


				div(class="custom-file-container" data-upload-id="upload-many-images")

				form(class="rounded-[10px] border-[black]/50 border-[1px] relative flex items-center h-[50px]") 
					input(type="text" name="content" class=`outline-none pl-[10px] bg-transparent w-full` input-chat)
					i(class="fa-light fa-face-smile cursor-pointer px-[15px]  h-full flex items-center hover:bg-chu duration-500" icon-face-smile)
					i(class="fa-light fa-image cursor-pointer px-[15px]  h-full flex items-center hover:bg-chu duration-500" icon-up-image)
					button(type="submit" class="h-full fa-solid fa-paper-plane-top text-[20px] cursor-pointer text-[pink] px-[15px] flex items-center")


				div(class="tooltip hidden" role="tooltip") 
					emoji-picker(class=`light`)