extends ../../layouts/default.pug
include ../../mixins/khung-table.pug
block main
	+khung-table("Chi tiết sản phẩm")
		table(class="mx-auto w-full")
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Tên sản phẩm:
				td(class="font-bold text-[12px] text-[#CD4F41]") #{product.title}
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Giá
				td(class="font-bold text-[12px] text-[#F77F00]") #{product.price}
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Giảm giá
				td(class="font-bold text-[12px] text-[#66C2A5]") -#{product.discountPercentage}%
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Còn lại
				td(class="font-bold text-[12px] text-[#1C404C]") #{product.stock}
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Hình Ảnh
				td(class="font-bold text-[30px]")
					if(product.thumbnail)
						img(src=product.thumbnail, alt="" class="max-h-auto w-auto rounded-[10px]")
					else
						div(class="text-[12px]") Chưa có
			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Trạng thái
				td(class="font-bold text-[30px]")
					if(product.status == 'active')
						div(class="text-[#3288BD] text-[12px]") Hoạt động
					else
						div(class="text-[#EF233C] text-[12px]") Dừng hoạt động

			tr(class="border-b-[1px] border-b-[black]/30")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Vị trí
				td(class="font-bold text-[12px]") #{product.position}
			tr(class="")
				th(class="text-left font-normal text-[12px] pr-[100px] h-auto aligh-center") Mô tả sản phẩm:
		if(product.description)
			div(class="italic") !{product.description}
		else
			div(class="") Chưa nhập mô tả