extends ../../layouts/default.pug
include ../../mixins/box-actions.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/khung-table.pug
include ../../mixins/quay-lai.pug
include ../../mixins/them-moi.pug

block header
	+quay-lai("Quay lại tổng quan", `/${admin}/main`)
	- if(role.permisstion.includes('products_create'))
		+them-moi("+ Thêm mới", `/${admin}/product/create`)


block main
	- if(role.permisstion.includes('products_view'))
		- if(role.permisstion.includes('products_fillterandsearch'))
			- if(product.length > 0 && pagination.totalProduct > 1)
				+khung-table("Lọc theo trang thái")
					div(class=`flex flex-wrap gap-[10px] justify-between p-[10px] items-center`)
						+fillter-status(fillerStatus)
						+search(key)
		- if(role.permisstion.includes('products_quickActionMenu'))
			if(product.length > 0  && pagination.totalProduct > 1)
				+khung-table("hành động")
					+box-actions(`/${admin}/product/change-multi`, statusOption)
		
		- if(role.permisstion.includes('products_sort'))
			if(product.length > 0  && pagination.totalProduct > 1)
				+khung-table("Sắp xếp")
					div(class="flex gap-[10px] items-center my-[20px] justify-center" sort) 
						select(name="" class="outline-[#1C404C] outline-[1px] pl-[10px] rounded-[10px] py-[10px] text-[18px]")
							option(value="position-desc")  Vị trí giảm dần
							option(value="position-asc")  Vị trí tăng dần
							option(value="title-asc")  Tên sản phẩm tăng dần
							option(value="title-desc")  Tên sản phẩm giảm dần
							option(value="price-asc")  Giá tăng dần
							option(value="price-desc")  Giá giảm dần
							option(value="updatedAt-asc")  Ngày sửa đổi tăng dần
							option(value="updatedAt-desc")  Ngày sửa đổi giảm dần
							option(value="stock-asc")  Số lượng tăng dần
							option(value="stock-desc")  Số lượng giảm dần
						button(type="button" class="rounded-[10px] bg-[#1C404C] text-[white] text-[18px] p-[10px]") Reset

		+khung-table("Danh sách sản phẩm")
			if(product.length > 0)
				table(class=`w-full text-center mt-[5px]`)
					thead(class=`h-[50px]`)
						tr
							if(pagination.totalProduct > 1)
								th(class=`h-full`)
									input(
										type="checkbox", 
										name="checkAll"
										class=`appearance-none w-[20px] h-[20px] border-[1px] border-[black]/20 rounded-[10px] checked:bg-[#263238] hover:cursor-pointer`
									)
							th STT
							th Hình ảnh
							th Sản phẩm
							th Giá
							th Vị trí
							th Trạng thái
							th Hành động
					tbody
						each it, i in product
							tr(
								class=`hover:rounded-[10px] hover:cursor-pointer border-b-[1px] last:border-[0px] border-b-[black]/40 hover:bg-[black]/20`
							)
								if(pagination.totalProduct > 1)
									td(class=`relative z-[50]`)
										input(
											type="checkbox", 
											name="checkItem"
											class=`appearance-none w-[20px] h-[20px] border-[1px] border-[black]/20 rounded-[10px] checked:bg-[#FA6B04] checked:border-[0px] hover:cursor-pointer relative z-[50]`
											value = it.id
										)
								td(class=`relative z-[5]`) #{pagination.limit * (pagination.current - 1) + i + 1}
								td(class=``)
									img(
										src=it.thumbnail, 
										alt=it.title 
										class=`h-[50px] mx-auto`
										nameImageImg = it.nameImage
									)
								td(
									class=``
									tickItem
								) #{it.title}
								td #{it.priceNew}
								td(class=`w-min`)
									input(
										link=`/${admin}/product/change-position/${it.id}`
										type="number"
										name="position"
										value=it.position
										class=`max-w-[70px] mx-auto outline-[#FA6B04]`
										min='1'
									)
								td
									- if(role.permisstion.includes('products_changeProductStatus'))
										- if(it.status == 'active')
											button(
												link=(`/${admin}/product/change-status/inactive/${it.id}`)
												type="button"
												class=`bg-[#06BC84] text-[white] text-[10px] rounded-[10px] px-[10px] py-[2px]`) Hoạt động
										- else
											button(
												link=`/${admin}/product/change-status/active/${it.id}`
												type="button"
												class=`bg-[red]/80 text-[white] text-[10px] rounded-[10px] px-[10px] py-[2px]`
											) Dừng hoạt động
									- else
										- if(it.status == 'active')
											button(
												type="button"
												class=`bg-[#06BC84] text-[white] text-[10px] rounded-[10px] px-[10px] py-[2px]`) Hoạt động
										- else
											button(
												type="button"
												class=`bg-[red]/80 text-[white] text-[10px] rounded-[10px] px-[10px] py-[2px]`
											) Dừng hoạt động
								td
									div(class="flex justify-center flex-wrap gap-[10px]") 
										a(
											href=`/${admin}/product/detail/${it.id}`
											type="button" class=`bg-[#3288BD]/80 text-[white] text-[12px] rounded-[10px] p-[5px] `
										) Chi tiết
										- if(role.permisstion.includes("products_edit"))
											a(
												href=`/${admin}/product/edit/${it.id}`
												type="button" class=`bg-[#F77F00]/80 text-[white] text-[12px] rounded-[10px] p-[5px] `
											) Chỉnh Sửa
										- if(role.permisstion.includes("products_delete"))
											button(
												type="button" 
												class=`bg-[red]/80 text-[white] text-[12px] rounded-[10px] p-[5px]`
												button-delete = `/${admin}/product/delete/${it.id}`
											) Xóa
			else
				div(class="text-center text-[20px]") Không có sản phẩm nào, hãy thêm sản phẩm mới nhé!
									

			+pagination(pagination)