extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/khung-table.pug
include ../../mixins/quay-lai.pug
include ../../mixins/them-moi.pug
include ../../mixins/dieu-huong.pug



//- block header
	+quay-lai("Quay lại tổng quan", `/${admin}/main`)
	- if(role.permisstion.includes('account_create'))
		+them-moi("Thêm tài khoản", `/${admin}/accounts/create`)

block main
	- if(role.permisstion.includes(`account_view`))
		-
			let array = [
				{
					link: `/${admin}/dashboard`,
					title: 'Cấu hình'
				}
			]
		+dieu-huong("Tài khoản quản trị", array)
		- if(role.permisstion.includes(`account_create`))
			+them-moi("Thêm tài khoản", `/${admin}/accounts/create`)
		+khung-table("Danh sách tài khoản")
			table(class=`w-full text-left mt-[5px]`)
				thead(class=`h-[50px]`)
					tr
						th Khách hàng
						th Email
						th Số điện thoại
						th(class="text-center") Trạng thái
						th(class="text-center") Tạo bởi
					tbody
						each it, i in customers
							tr(
								class=`group hover:cursor-pointer border-b-[1px] last:border-[0px] border-b-[black]/40 hover:bg-[black]/20 h-[50px]`
							)
								td(
									class=`text-[14px] group-hover:text-textHover`
									tickItem
								) #{it.fullName}
									div(class="group-hover:opacity-100 opacity-0 flex gap-x-[10px] items-center")
										a(
											href=`/${admin}/accounts/edit/${it.id}`
											class=` text-[12px] text-xanh hover:text-xanhhover fa-solid fa-pen`
										)
										button(
											type="button" 
											class=`text-[12px] text-do hover:text-dohover fa-solid fa-trash-can`
											button-delete = `/${admin}/accounts/delete/${it.id}`
										)
										a(
											href=`/${admin}/accounts/change-password/${it.id}`
											class=`fa-solid fa-key text-[12px] text-textHover hover:text-adminColorHeadline`
										)
									td 
										div(class="") #{it.email}
									td 
										div(class="") #{it.phone}
								

	- else
		div(no-view-permission)