extends ../../layouts/default.pug
include ../../mixins/dieu-huong.pug


block main
	-
		let array = [
			{
				link: `/product/${titleCategory.slug}`,
				title: `${titleCategory.title}`
			}
		]
	+dieu-huong(product.title, array)
	div(class="" calculate)
		div(class="container")
			div(class="text-chu text-[25px] font-[700] py-[30px]") #{product.title}
			div(class="flex grid grid-cols-2 gap-[20px]")
				div(class="w-full rounded-[10px] truncate bg-[white] py-[10px]")
					img(
						src=product.thumbnail
						alt=product.title
						class=`w-[full] h-auto`
					)
				div(class="w-full h-max flex flex-col gap-y-[20px]")
					div(class="w-full rounded-[10px] truncate bg-[white] p-[20px]")
						div(class="flex items-center gap-[15px]") 
							div(class="font-bold") Giá: 
							div(class="font-bold text-chu text-[20px]") #{product.priceNew}
								sup đ
							- if(product.priceNew != product.priceOld)
								div(class="line-through text-[18px]") #{product.priceOld}
									sup đ

					div(class="w-full rounded-[10px] truncate bg-[white] px-[20px] py-[10px]")
						div(class="flex items-center gap-[15px]") 
							div(class="") CÒN HÀNG:
							include ../../partials/adddition - subtraction.pug


					div(class="w-full bg-chu text-[#333333] flex rounded-[7px] items-center justify-center py-[10px] font-bold gap-[20px] hover:cursor-pointer" )
						i(class=`fa-solid  fa-bag-shopping`)
						div(class="uppercase") mua hàng ngay 
					

					div(class="flex justify-between gap-[20px]")
						div(class="border-[2px] border-chu rounded-[7px] text-[#333333] flex gap-[10px] items-center w-full justify-center py-[10px] hover:bg-chu hover:text-[white] hover:cursor-pointer")
							i(class=`fa-solid fa-cart-plus`)
							div(class="uppercase font-bold" add-cart = `/order/cart-add/${product.id}`) thêm vào giỏ  
						div(class="border-chu rounded-[7px] text-[white] bg-[#DA0808] flex gap-[10px] items-center w-full justify-center hover:bg-[chu] hover:text-[white]")
							i(class=`fa-solid fa-phone-volume`)
							div(class="uppercase font-bold") 0859.615.254
			div(class="bg-[white] rounded-[7px] p-[10px] my-[20px]")
				div(class="capitalize py-[10px] border-b-[2px] font-bold border-b-chu text-chu w-max") Mô tả sản phẩm
				div(class="font-bold text-[#333333] text-[20px] mt-[20px]") Giới thiệu #{product.title}
				div(class="text-[#333333] text-[14px]") !{product.description}