extends ../../layouts/default.pug

block main
	div(class="")
		div(class="container")
			div(class="text-[80px] font-bold") Chi tiết sản phẩm 
			table(class="mx-auto")
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="w-1/2 text-left font-normal text-[30px] pr-[100px]  aligh-center") Tên sản phẩm:
					td(class="w-1/2 font-bold text-[30px] text-[#CD4F41] text-justify") #{product.title}
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Giá
					td(class="font-bold text-[30px] text-[#F77F00]") #{product.price}
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Giảm giá
					td(class="font-bold text-[30px] text-[#66C2A5]") -#{product.discountPercentage}%
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Còn lại
					td(class="font-bold text-[30px] text-[#1C404C]") #{product.stock}
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Hình Ảnh
					td(class="font-bold text-[30px]")
						if(product.thumbnail)
							img(src=product.thumbnail, alt="" class="max-h-[150px] w-auto rounded-[10px]")
						else
							div(class="") Chưa có
				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Trạng thái
					td(class="font-bold text-[30px]")
						if(product.status == 'active')
							div(class="text-[#3288BD]") Hoạt động
						else
							div(class="text-[#EF233C]") Dừng hoạt động

				tr(class="border-b-[1px] border-b-[black]/30")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Vị trí
					td(class="font-bold text-[30px]") #{product.position}
				tr(class="")
					th(class="text-left font-normal text-[30px] pr-[100px]  aligh-center") Mô tả sản phẩm:
			if(product.description)
				div(class="italic") !{product.description}
			else
				div(class="") Chưa nhập mô tả