extends ../../layouts/default.pug
include ../../mixins/box-product.pug
include ../../mixins/pagination.pug


block main

	//- div(class=`p-[10px]`)
	//- 	div(class=`container`)
	//- 		div(class=`font-bold text-[30px] text-center`) SẢN PHẨM
	//- 		div(class=`flex gap-[20px] grid grid-cols-4 py-[20px]`)
	//- 			each it in product
	//- 				div(class=`relative rounded-[10px] border-[1px] border-[black]/30 truncate`)
	//- 					a(href="") 
	//- 						img(
	//- 							src=it.thumbnail,
	//- 							alt=it.title
	//- 							class=`w-auto aspect-[1/1] object-cover`
	//- 						)
	//- 					div(class=`px-[10px] flex text-wrap flex-col`)
	//- 						a(href=`/product/detail/${it.slug}`) 
	//- 							div(class=`font-bold text-[red] text-[13px]`) #{it.title}
	//- 						div(class=`absolute top-[0px] text-[6px] bg-[red] text-[white] font-bold rounded-[10px] p-[3px] top-[5px] left-[10px]`) -#{it.discountPercentage}%
	//- 						div(class=`flex justify-between items-center`)
	//- 							div(class=`text-[#1977F8] text-[14px] font-bold`) #{it.priceNew}$
	//- 							del(class=`text-[black]/50 text-[12px] font-bold`) #{it.price}$
	div(class="select-none py-[40px]")
		div(class="container")
			div(class=`p-[28px] bg-[${BOX ? BOX.mauChuSpKhiDiChuot : ''}] rounded-[7px]`)

				div(class=`text-[${BOX ? BOX.mauGiaGoc : ''}] flex justify-center`)
					- if(product)
						div(class="uppercase text-[25px] font-[700] w-max flex flex-col justify-center mb-[20px]") DANH SÁCH SẢN PHẨM
				div(class="grid grid-cols-4 flex gap-[10px] ")
					- if(product)
						+box-product(product)
	- if(pagination)
		+pagination(pagination)