aside(
	class=`w-[300px] h-screen overflow-y-auto scoll-auto bg-[#1F1E2E] text-[white] px-[30px] flex flex-col gap-[10px] scrollbar` 
)
	div(class=`mt-[10px] relative`)
		a(href=`/` class=`w-full text-[25px] mt-[10px] font-[800]`) KIM QUANG
			//- img(
			//- 	src=`/media/logo/logo.svg`, alt="Logo"
			//- 	class=`w-auto max-h-[60px] text-center`
			//- )
	ul(class=`flex flex-wrap gap-y-[15px] flex-col text-[white]/50 [&>li:hover]:text-[white]`)
		li(class="" sidebar-li)
			i(class="fa-solid fa-gauge fa-spin mr-[10px]")
			a(href=`/${admin}/main` class=``) Tổng quan
		- if(role.permisstion.includes("products_view"))
			li(class="" sidebar-li)
				i(class="fa-solid fa-box-open fa-beat-fade mr-[10px]")
				a(href=`/${admin}/product` class=``) Quản lí sản phẩm
		- if(role.permisstion.includes('product-category_view'))
			li(class="" sidebar-li)
				a(href=`/${admin}/product-category` class=``) Danh mục sản phẩm
		- if(role.permisstion.includes('dashboard_view'))
			li(class="" sidebar-li)
				i(class="fa-solid fa-screwdriver-wrench fa-shake mr-[10px]")
				a(href=`/${admin}/dashboard` class=``) Cài đặt chung
		- if(role.permisstion.includes('trash_view'))
			li(class="" sidebar-li)
				i(class="fa-solid fa-trash-can-list mr-[10px]")
				a(href=`/${admin}/product/trash` class=``) Thùng rác
		li(class="mt-auto" sidebar-li)
			i(class="fa-solid fa-arrow-left-from-bracket mr-[10px]")
			a(href=`/${admin}` class=`` log-out) Đăng xuất